.card {
  background: var(--card-bg);
  color: var(--card-text);
  padding: 1rem;
  border-radius: 0.4rem;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-top: 2rem;
}
